# Archivos compilados
*.o
*.exe
server
ui
p1-dataProgram

# Archivos de índice
bloques.idx

# Dataset (¡no subirlo!)
personas.csv
personas_recortado.csv

# Directorios de sistema
*.swp
*.swo
*~
.DS_Store
